<h4>
    <%= obj["Naam"] %>
</h4>             
<p>
    <%= formatAddress(obj) %><br />
    <%= obj["Stadsdeel"] %><br />

    <% if (obj["URL"]) { %>
        <a href='<%= obj["URL"] %>' target='_blank'>Website</a>
    <% } %>
</p>

<% if (obj["Toegankelijkheid"]) { %>
    <p>
        <strong>Toegankelijkheid</strong><br />
        <%= obj["Toegankelijkheid"] %>
    </p>
<% } %>

<% if (obj["Openingstijden"]) { %>
    <p>
        <strong>Openingstijden</strong><br />
        <%= obj["Openingstijden"] %>
    </p>
<% } %>
